@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
button,
input,
textarea {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #112b1d;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style-type: none;
}

img {
  max-width: 100;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

p {
  color: #626e68;
}
